<!-- avantagesclient -->
<section id="avantagesclient" class="section wow fadeInUp">
  <div class="container">
    <h2>Avantages client</h2>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-thumbs-up circle"></i>
          </div>
          <h4>Proffessionnels</h4>
          <span>Uniquement des proffessionnels</span>
          <hr>
          <p>Notre Equipe vérifie et garantie que tous les transporteurs sont des proffessionnels en règle. Cela inclut : identité, n° de SIRET, Permis de conduire, carte grise, assurance...</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-euro circle"></i>
          </div>
          <h4>Gratuité</h4>
          <span>Nous vous offrons ce service</span>
          <hr>
          <p>Cette plateforme à été initialement pensée pour des raisons écologiques. Il serait aberrant pour nous d'en réduire la portée.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-clock-o circle"></i>
          </div>
          <h4>Mode express</h4>
          <span>Le vrais intéret écologique</span>
          <hr>
          <p>Le mode express géolocalise les transporteurs les plus près de vous en temps réel. Ceux-ci sont informés de votre demande et y répondent par une proposition de prix. Vous serez en relation direct avec le moins cher. Le plus pertinant sera probablement celui qui aura une course avec le même trajet</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-calendar circle"></i>
          </div>
          <h4>Mode différé</h4>
          <span>Soyez prévoyant</span>
          <hr>
          <p>Il est parfois plus opportun de prévoir bien en avance un transport crussial comme un déménagement. Dans ce sens vous pourrez exprimer votre besoin pour ne recevoir que les meilleurs offres.</p>
        </div>
      </div>
    </div><!-- ./row -->
  </div>
</section>
<!-- ./avantagesclient -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
