<!-- toolscontainer -->
<section id="toolscontainer" class="section wow fadeInUp">

  <!-- dns -->
  <div class="container" id="dns" >
    <h2>Choisir le nom de mon site WEB</h2>
    <p>Lorem ipsum</p>
  </div>
  <!-- ./dns -->

</section>
<!-- ./toolscontainer -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
