<!-- nouveaucompte -->
<section id="nouveaucompte" class="section wow fadeInUp">
  <div class="container">
    <h2>Cr&eacute;er un compte</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="price-box2">
          <h2>Compte d'envoi de biens</h2>
          <div class="separator"></div>
          <p>Ouvrir un compte qui me permet de trouver des transporteurs géolocalisés à très bon rapport qualit&eacute; / prix </p>
          <a data-scroll href="#/compte/client" class="btn btn-dark btn-lg btn-block">Cr&eacute;er ce compte</a>
          <a class="pull-right" data-scroll href="#/avantagesclient">En savoir + </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="price-box2">
          <h2>Compte transporteur</h2>
          <div class="separator"></div>
          <p>Ouvrir un compte qui me permet d'être contact&eacute; en direct par de nouveaux clients via une application mobile</p>
          <a data-scroll href="#/compte/transporteur" class="btn btn-dark btn-lg btn-block">Cr&eacute;er ce compte</a>
          <a class="pull-right"  data-scroll href="#/avantagestransporteur">En savoir + </a>
        </div>
      </div>
    </div><!-- ./row -->
  </div>
</section>
<!-- ./nouveaucompte -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
