<!-- toolscontainer -->
<section id="toolscontainer" class="section wow fadeInUp">
  <!-- transporteur -->
  <div class="container" id="transporteur">
    <h2>S'inscrire comme professionnel du transport</h2>
    <p><a class="pull-right" data-scroll href="#/avantagestransporteur"> En savoir + </a></p>
  </div>
  <!-- ./transporteur -->

</section>
<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
