<!-- contact -->
<section id="contact" class="section wow fadeInUp">

  <div class="container">

    <h2>Contactez nous</h2>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- Working Contact Form -->
        <form  name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Nom</label>
                <input type="text" class="form-control dark" id="name" placeholder="" required data-validation-required-message="Merci d'entrer votre nom.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Email</label>
                <input type="email" class="form-control dark" id="email" placeholder="" required data-validation-required-message="Merci d'entrer votre email.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Téléphone</label>
                <input type="phone" class="form-control dark" id="tel" placeholder="" required data-validation-required-message="Merci d'entrer votre téléphone.">
                <p class="help-block"></p>
              </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message</label>
              <textarea class="form-control dark" rows="7" id="message" placeholder="" required data-validation-required-message="Merci d'entrer votre message" maxlength="999" style="resize:none"></textarea>
              <p class="help-block"></p>
            </div>
          </div>
          <div id="success"></div>

          <div class="padd-tb-10">
            <button type="submit" class="btn btn-success btn-lg btn-block">Envoyer</button>
          </div>

        </form>
        <div class="clearfix"></div>
        <!-- Working Contact Form -->

        <!-- contact-info -->
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-map-marker"></i> 15 place de l'église, 95000 CERGY
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-envelope-o"></i> info@waaax.com
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-phone"></i> 01 34 02 32 10
            </div>
          </div>
        </div>
        <!-- ./contact-info -->

      </div>
    </div>

  </div>

</section>
<!-- ./contact -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
