<!-- ecologie -->
<section id="ecologie" class="section wow fadeInUp">
  <div class="container">
    <h2>Ecologie</h2>
    <div class="services style2">
      <i class="fa fa-globe circle"></i>
    </div>
    <div class="testimonial-box3">
      <p><i class="fa fa-quote-left"></i> Nos équipes de recherche et développement en charge du développement durable on découvert que la pertinence tarifaire pour les tranporteurs géolocalisés avait un lien direct avec la concomitance de leur trajet. Ainsi en proposant ce nouveau mode d'envoi géolocalisé lié à une enchère aveugle de transporteur nous pouvons réduire massivement la consommation carbone.<i class="fa fa-quote-right"></i> </p>
    </div>
  </div>
</section>
<!-- ./ecologie -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
