<!-- nouveaucompte -->
<section id="nouveaucompte" class="section wow fadeInUp">
  <div class="container">
    <h2>Cr&eacute;er un compte</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="price-box2">
          <h2>Compte d'envoi de biens</h2>
          <div class="separator"></div>
          <p>Ouvrir un compte qui me permet de trouver des transporteurs géolocalisés à très bon rapport qualit&eacute; / prix </p>
          <a data-scroll href="#/compte/client" class="btn btn-dark btn-lg btn-block">Cr&eacute;er ce compte</a>
          <a class="pull-right" data-scroll href="#avantagesclient">En savoir + </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="price-box2">
          <h2>Compte transporteur</h2>
          <div class="separator"></div>
          <p>Ouvrir un compte qui me permet d'être contact&eacute; en direct par de nouveaux clients via une application mobile</p>
          <a data-scroll href="#/compte/transporteur" class="btn btn-dark btn-lg btn-block">Cr&eacute;er ce compte</a>
          <a class="pull-right"  data-scroll href="#avantagestransporteur">En savoir + </a>
        </div>
      </div>
    </div><!-- ./row -->
  </div>
</section>
<!-- ./nouveaucompte -->

<!-- avantagesclient -->
<section id="avantagesclient" class="section wow fadeInUp">
  <div class="container">
    <h2>Avantages client</h2>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-thumbs-up circle"></i>
          </div>
          <h4>Proffessionnels</h4>
          <span>Uniquement des proffessionnels</span>
          <hr>
          <p>Notre Equipe vérifie et garantie que tous les transporteurs sont des proffessionnels en règle. Cela inclut : identité, n° de SIRET, Permis de conduire, carte grise, assurance...</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-euro circle"></i>
          </div>
          <h4>Gratuité</h4>
          <span>Nous vous offrons ce service</span>
          <hr>
          <p>Cette plateforme à été initialement pensée pour des raisons écologiques. Il serait aberrant pour nous d'en réduire la portée.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-clock-o circle"></i>
          </div>
          <h4>Mode express</h4>
          <span>Le vrais intéret écologique</span>
          <hr>
          <p>Le mode express géolocalise les transporteurs les plus près de vous en temps réel. Ceux-ci sont informés de votre demande et y répondent par une proposition de prix. Vous serez en relation direct avec le moins cher. Le plus pertinant sera probablement celui qui aura une course avec le même trajet</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-box1">
          <div class="services style2">
            <i class="fa fa-calendar circle"></i>
          </div>
          <h4>Mode différé</h4>
          <span>Soyez prévoyant</span>
          <hr>
          <p>Il est parfois plus opportun de prévoir bien en avance un transport crussial comme un déménagement. Dans ce sens vous pourrez exprimer votre besoin pour ne recevoir que les meilleurs offres.</p>
        </div>
      </div>
    </div><!-- ./row -->
  </div>
</section>
<!-- ./avantagesclient -->

<!-- avantagestransporteur -->
<section id="avantagestransporteur" class="section wow fadeInUp">
  <div class="container">
    <h2>Avantages transporteur</h2>
  </div>

    <!-- testimonial-carousel -->
    <div id="testimonial-carousel" class="owl-carousel">
      <div class="item">
        <div class="testimonial-box3">
          <p><i class="fa fa-quote-left"></i> En devenant Transporteur Waaax vous aurez gratuitement des demandes de clients en temps réel sur votre application mobile. <i class="fa fa-quote-right"></i> </p>

          <p class="well-lg"><a data-scroll href="#transporteur"><button type="button" class="btn btn-success btn-lg">
            <span class="fa fa-road" aria-hidden="true"></span> S'inscrire
          </button></a></p>
          <p><span>1) Créer un compte transporteur.</span> (Uniquement réservé aux professionnels)</p>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-box3">
          <p><i class="fa fa-quote-left"></i> En mode "Express" vous ne serez solicité que par les demande proche de vous. Pour y répondre et être mis en relation avec le client il vous suffira de proposer un prix. <i class="fa fa-quote-right"></i> </p>

          <p class="well-lg"><a data-scroll href="#transporteur"><button type="button" class="btn btn-success btn-lg">
            <span class="fa fa-clock-o" aria-hidden="true"></span> S'inscrire
          </button></a></p>
          <p><span>2) L'équipe validera votre dossier sous 48h ouvré.</span> (Uniquement réservé aux professionnels)</p>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-box3">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="services style2">
                <i class="fa fa-android circle"></i>
                <h4>Android</h4>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services style2">
                <i class="fa fa-apple circle"></i>
                <h4>Iphone</h4>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services style2">
                <i class="fa fa-windows circle"></i>
                <h4>Windows phone</h4>
              </div>
            </div>
          </div><!-- ./row -->

          <p><a data-scroll href="#transporteur"><button type="button" class="btn btn-success btn-lg">
            <span class="fa fa-mobile-phone" aria-hidden="true"></span> S'inscrire
          </button></a></p>
          <p><span>3) Téléchargez votre application mobile</span></p>
        </div>
      </div>

    </div>
    <!-- ./testimonial-carousel -->
</section>
<!-- ./avantagestransporteur -->

<!-- ecologie -->
<section id="ecologie" class="section wow fadeInUp">
  <div class="container">
    <h2>Ecologie</h2>
    <div class="services style2">
      <i class="fa fa-globe circle"></i>
    </div>
    <div class="testimonial-box3">
      <p><i class="fa fa-quote-left"></i> Nos équipes de recherche et développement en charge du développement durable on découvert que la pertinence tarifaire pour les tranporteurs géolocalisés avait un lien direct avec la concomitance de leur trajet. Ainsi en proposant ce nouveau mode d'envoi géolocalisé lié à une enchère aveugle de transporteur nous pouvons réduire massivement la consommation carbone.<i class="fa fa-quote-right"></i> </p>
    </div>
  </div>
</section>
<!-- ./ecologie -->

<!-- faq -->
<section id="faq" class="section wow fadeInUp">
  <div class="container">
    <h2>FAQ</h2>
  </div>
</section>
<!-- ./faq -->

<!-- news -->
<section id="news" class="section wow fadeInUp">
  <div class="container">
    <h2>On parle de nous</h2>

    <!-- blog-carousel2 -->
    <div id="blog-carousel2" class="owl-carousel">
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img1.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>Jan 3, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>180</span></li>
            </ul>
          </figure>
          <h4>Prix de l'inovation numérique</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img2.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>Feb 16, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>16</span></li>
            </ul>
          </figure>
          <h4>Encore plus loin</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img3.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>March 8, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>280</span></li>
            </ul>
          </figure>
          <h4>Enfin un logiciel gratuit pour tous</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img4.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>April 11, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>95</span></li>
            </ul>
          </figure>
          <h4>La presse en parle</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img5.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>May 18, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>35</span></li>
            </ul>
          </figure>
          <h4>Waaax, une relation gagnant / gagnant</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>


    </div>
    <!-- ./blog-carousel2 -->

  </div>

</section>
<!-- ./news -->

<!-- contact -->
<section id="contact" class="section wow fadeInUp">

  <div class="container">

    <h2>Contactez nous</h2>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- Working Contact Form -->
        <form  name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Nom</label>
                <input type="text" class="form-control dark" id="name" placeholder="" required data-validation-required-message="Merci d'entrer votre nom.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Email</label>
                <input type="email" class="form-control dark" id="email" placeholder="" required data-validation-required-message="Merci d'entrer votre email.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group col-sm-4">
              <div class="controls">
                <label>Téléphone</label>
                <input type="phone" class="form-control dark" id="tel" placeholder="" required data-validation-required-message="Merci d'entrer votre téléphone.">
                <p class="help-block"></p>
              </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message</label>
              <textarea class="form-control dark" rows="7" id="message" placeholder="" required data-validation-required-message="Merci d'entrer votre message" maxlength="999" style="resize:none"></textarea>
              <p class="help-block"></p>
            </div>
          </div>
          <div id="success"></div>

          <div class="padd-tb-10">
            <button type="submit" class="btn btn-success btn-lg btn-block">Envoyer</button>
          </div>

        </form>
        <div class="clearfix"></div>
        <!-- Working Contact Form -->

        <!-- contact-info -->
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-map-marker"></i> 15 place de l'église, 95000 CERGY
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-envelope-o"></i> info@waaax.com
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-info">
              <i class="fa fa-phone"></i> 01 34 02 32 10
            </div>
          </div>
        </div>
        <!-- ./contact-info -->

      </div>
    </div>

  </div>

</section>
<!-- ./contact -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
