<!-- news -->
<section id="news" class="section wow fadeInUp">
  <div class="container">
    <h2>On parle de nous</h2>

    <!-- blog-carousel2 -->
    <div id="blog-carousel2" class="owl-carousel">
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img1.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>Jan 3, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>180</span></li>
            </ul>
          </figure>
          <h4>Prix de l'inovation numérique</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img2.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>Feb 16, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>16</span></li>
            </ul>
          </figure>
          <h4>Encore plus loin</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img3.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>March 8, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>280</span></li>
            </ul>
          </figure>
          <h4>Enfin un logiciel gratuit pour tous</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img4.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>April 11, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>95</span></li>
            </ul>
          </figure>
          <h4>La presse en parle</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>
      <div class="item">
        <div class="blog-box2">
          <figure>
            <img src="img/img5.jpg" alt="image" class="img-responsive">
            <ul>
              <li><i class="fa fa-calendar"></i> <span>May 18, 2016</span></li>
              <li><i class="fa fa-comment"></i> <span>35</span></li>
            </ul>
          </figure>
          <h4>Waaax, une relation gagnant / gagnant</h4>
          <p> Lorem ipsum dolor sit amet Maecenas ullamcorper diam nec augue semper ...</p>
          <a href="blog-single.html" class="link">Lire plus...</a>
        </div>
      </div>


    </div>
    <!-- ./blog-carousel2 -->

  </div>

</section>
<!-- ./news -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
