<!-- toolscontainer -->
<section id="toolscontainer" class="section wow fadeInUp">

  <!-- profil -->
  <div class="container" id="profil">
    <h2>Créer votre profile client</h2>
    <form name="client" id="cp_client" enctype="multipart/form-data" role="form">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prenom :</label>
            <input type="text" class="form-control" id="prenom" placeholder="Votre prenom" required>
        </div>
        <div class="form-group">
            <label for="mail">Email :</label>
            <input type="email" class="form-control" id="mail" placeholder="Votre adresse mail" required>
        </div>
        <div class="form-group">
            <label for="confMail">Confirmer Email :</label>
            <input type="email" class="form-control" id="confMail" placeholder="Confirmer votre mail" required>
        </div>
        <div class="form-group">
            <label for="pwd">Mot de passe :</label>
            <input type="password" class="form-control" id="pwd" placeholder="Votre mot de passe" required>
        </div>
        <div class="form-group">
            <label for="adresse">Adresse :</label>
            <input type="text" class="form-control" id="adresse" placeholder="Libellé de la voir " required>
        </div>
        <div class="form-group">
            <label for="postale">Code postale :</label>
            <input type="text" class="form-control" id="postale" placeholder="Votre code postale" required>
        </div>
        <div class="form-group">
            <label for="city">Ville :</label>
            <input type="text" class="form-control" id="city" placeholder="Votre ville" required>
        </div>
        <div class="form-group">
            <label for="tel">Telephone :</label>
            <input type="text" class="form-control" id="tel" placeholder="Votre telephone" required>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <!-- ./profil -->

</section>

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->
<script type="text/javascript">
$('#cp_client').submit(function(event){
  event.preventDefault();

  //envoie des données par sockets
  //insert des données
});
</script>
