<!-- toolscontainer -->
<section id="toolscontainer" class="section wow fadeInUp">

  <!-- profil -->
  <div class="container" id="profil">
    <h2>Votre profile client</h2>

        <div class="form-group">
            <h4>Nom :</h4>
            <p>César</p>
        </div>
        <div class="form-group">
            <h4>Prenom :</h4>
            <p>Palace</p>
        </div>
        <div class="form-group">
            <h4>Email :</h4>
            <p>cesar.palace@gmail.com</p>
        </div>
        <div class="form-group">
            <h4>Adresse :</h4>
            <p>22 Rue des Stagiaires</p>
        </div>
        <div class="form-group">
            <h4>Code postale :</h4>
            <p>01100011</p>
        </div>
        <div class="form-group">
            <h4>Ville :</h4>
            <p>Paris</p>
        </div>
        <div class="form-group">
            <h4>Telephone :</h4>
            <p>0899271177</p>
        </div>

        <button type="text" class="btn btn-default prf_client">Modifier</button>
    </form>
  </div>
  <!-- ./profil -->

</section>

<!-- footer -->
<footer id="footer">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <div class="copyright">&copy; 2016 Waaax | <a href="http://www.waaax" target="_blank">waaax.com</a></div>
  </div>
</footer>
<!-- ./footer -->

<script type="text/javascript">
  $('.prf_clent').click(function(){
    $(location).attr('href','http://localhost:443/index.html#/modifier_profile_client');
  });
</script>
