<!--<button ng-click="count=count + mult" ng-init="count=0;mult=2">Increment</button>
<p>count : {{count}}</p>

<input type="text" ng-model="text">
{{text}}
-->
<!-- ********************************************************** -->
<!--  <div ng-controller="petit">
    <p>{{nombre1 + nombre2}}</p>
    <p>{{name}}</p>
</div>

<div ng-controller="grand">
    <p>{{nombre1 + nombre2}}</p>
    <p>{{name}}</p>
</div>

<script type="text/javascript">
    angular.module('test', [])
        .controller('petit', function($scope, $rootScope) {
            $rootScope.name = 'Maco';
            $scope.nombre1 = 1;
            $scope.nombre2 = 2;
        })
        .controller('grand', function($scope) {
            $scope.nombre1 = 6;
            $scope.nombre2 = 3;
        });
</script> -->

<!-- ********************************************************** -->
<!--  <span ng-controller="list">
<p ng-repeat="person in items">
  Je m'appelle {{person.name}} et j'ai {{person.age}} ans de sexe {{person.sexe}}.
</p>
</span>
<script type="text/javascript">

  angular.module('test', [])
    .controller('list', function($scope){
      $scope.items = [
        {'name' : 'ted', 'age' : 12, 'sexe' : 'oui'},
        {'name' : 'fred', 'age' : 15, 'sexe' : 'oui oui'}
      ]
    });

</script> -->
  <!-- ********************************************************** -->
  
